---
# Copyright (c) 2017-2023, The Khronos Group Inc.
#
# SPDX-License-Identifier: Apache-2.0
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# To dump the google format, execute: clang-format -style=google -dump-config > google.clang-format
# Keep only the lines that differ from google in our own config
Language: Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit: 140
IndentCaseLabels: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: All
ObjCSpaceBeforeProtocolList: false
PenaltyReturnTypeOnItsOwnLine: 100
ReflowComments: false
SortIncludes: false
SortUsingDeclarations: false
SpacesInContainerLiterals: false
TabWidth: 4
...

