# Copyright 2021-2022, Collabora, Ltd.
# SPDX-License-Identifier: CC0-1.0

name: Android OpenXR-CTS - Check
on:
  pull_request:
    branches:
      - "devel"

jobs:
  build-OpenXR-CTS:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@v3

      - name: set up JDK 11
        uses: actions/setup-java@v3.6.0
        with:
          java-version: "11"
          distribution: "temurin"
          cache: gradle

      - uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDebug
          build-root-directory: src/conformance

      - name: Upload OpenXR-CTS Android
        uses: actions/upload-artifact@v3
        with:
          name: OpenXR-CTS Android
          path: src/conformance/build/outputs/apk/debug/conformance-debug.apk
